*{
  box-sizing: border-box;
}

body{
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

.container{
  width: 80%;
  height: 90%;
  /* border: solid black; */
  /* border-radius: 100px; */
  padding: 10px;
  background-color: rgba(255, 255, 255, .5);
  position: fixed;
  left: 10%;
  top: 5%;
  overflow-y: auto;
  box-shadow:5px 5px 10px 5px black;
}

.container > *{
  width: 90%;
  margin: auto;
}

header{
  /* background-color: grey; */
  text-align: center;
}

.mainhr{
  border-color: blue;
  height: 1px;
}

header img{
  width: 200px;
  margin-top: 1%;
  /* height: 150px; */
}

main{
  padding-left: 10px;
}

main hr{
  border-color: black;
}

section h2{
  font-size: 20px;
  color: white;
  font-weight: bolder;
  background-color: blue;
  text-align: center;
}

section h3{
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
}

section p{
  font-size: 15px;
}

footer{
  text-decoration: underline;
  font-weight: bolder;
  text-align: right;
}
